<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Muser Du Louvre{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    Hello world
</body>
</html>